<% layout('layouts/boilerplate')%>
<div class="top ui one column stackable center aligned page grid">
    <div class="column six wide card shadow mt-5">
        <h1>Login</h1>
        <form action="/yelpcamp/auth/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="uncenter form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required autofocus>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">Required</div>

            </div>

            <div class="mb-3">
                <label class="uncenter form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">Required</div>


            </div>
            <button class="btn btn-block btn-success">Login</button>
        </form>
    </div>
</div>